DB_HOST=db
DB_PORT=5432
DB_USER=rentar
DB_PASSWORD=rentar
DB_NAME=rentar_db
JWT_SECRET=cambiar-por-una-clave-larga-y-aleatoria
ADMIN_EMAIL=admin@rentar.com
ADMIN_PASSWORD=AdminRentar2026!
ADMIN_DOCUMENTO=40123123
ADMIN_NOMBRE=Juan
ADMIN_APELLIDO=Pérez
